<div class="parentForRate">
     	<div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Apple(Love).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Apple(Love)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Banana(Creativity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Banana(Creativity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Durian(Confidence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Durian(Confidence).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cucumber(Caring).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cucumber(Caring)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Date(Consistency).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Date(Consistency)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Dragonfruit(Knowledge).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Dragonfruit(Knowledge)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blackberry(Experience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackberry(Experience)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Olive(Faithfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Olive(Faithfulness).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/coconut(Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">coconut(Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Walnut(Humour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Walnut(Humour).jpg</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lemon(Thoroughness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lemon(Thoroughness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Tangerine(Cooperation).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tangerine(Cooperation)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Passionfruit(Passion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Passionfruit(Passion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Starfruit(Leadership).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Starfruit(Leadership)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Fig(Wisdom).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Fig(Wisdom)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pomengranate(Resourcefulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pomengranate(Resourcefulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Orange(Insight).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Orange(Insight)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cherry(Holiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cherry(Holiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Watermelon(Generosity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Watermelon(Generosity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Guava(Sincerity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Guava(Sincerity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Kiwifruit(Kindness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kiwifruit(Kindness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cantaloupe(Humility).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cantaloupe(Humility)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Breadfruit(Expertise).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Breadfruit(Expertise)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Papaya(Openness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Papaya(Openness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Miraclefruit(Helpfulness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Miraclefruit(Helpfulness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Huckleberry(Friendliness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Huckleberry(Friendliness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pineapple(Patience).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pineapple(Patience)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Grape(Innocence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Grape(Innocence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Tamarind(Trustworthiness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Tamarind(Trustworthiness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blueberry(Empathy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blueberry(Empathy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Blackcurrant(Brilliance).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Blackcurrant(Brilliance)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Jackfruit(Capacity).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jackfruit(Capacity)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Kolanut(Courtesy).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Kolanut(Courtesy)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Longan(Emotional Intelligence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Longan(Emotional Intelligence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Bitter Kola(Honour).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Bitter Kola(Honour)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Peach(Excellence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Peach(Excellence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lychee(Loyalty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lychee(Loyalty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Damson(Honesty).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Damson(Honesty)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Cashew(Optimism).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Cashew(Optimism)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Mango(Fairness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Mango(Fairness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Avocado(Compassion).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Avocado(Compassion)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Pear(Grace).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Pear(Grace)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Loquat(Reliability).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Loquat(Reliability)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Jujube(Tolerence).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Jujube(Tolerence)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="/Images/Lime(Frankness).jpg" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style="">Lime(Frankness)</p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
        <div class="flexContainerRating" style="">
		     	<div class="imgDiv" style="">
		     		<img src="" alt="" style="">
		     	</div>
		     	<div class="discDiv" style="width: 30%;">
		     		<p class="virInputRate" style=""></p>
		     	</div>
		     	<div class="rateDiv" style="width: 30%;">
		     		<input class="numberInputRate" type="number" min="10" max="100" style="" value="10">
		     	</div>
        </div>
</div>